<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/css/feed.css">
    <title>Document</title>
</head>
<body>

    <div class="main">

        <h1>Timeline</h1>
        <input type="text" id="post-cont" placeholder="digite algo">
    
        <button type="submit" id="post-btn">Postar</button>
    <p id="item-post" class="post-item">

    </p>
    </div>
 <script src="/js/feed.js"></script>
    
</body>
</html>