<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Mini Rede Social</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="home-container">
        <h2>Bem-vindo a sua conta!</h2>
        <p>Você está logado.</p>
        <a href="/feed">ir para o feed</a>
        <a href="/">Sair</a>
    </div>
</body>
</html>
