<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mini Rede Social</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div>
    <form action="/users/login" method="POST">
        <label for="username">Nome de usuário</label>
        <input type="text" id="username" name="username" required>
    
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" required>
    
        <button type="submit">Entrar</button>
    </form>
    <p>Não tem uma conta? <a href="/register">Registre-se aqui</a></p>
    </div>
</body>
</html>
