<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Perfil</h1>
    <h1>converse com seus amigos online</h1>
    <a href="/feed">voltar para o feed</a>
    <a href="/messages">ver mensagens</a>
</body>
</html>